# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\lab1\all_labs\JavaEE3-archive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
